/* Botão */
.botao {
  display: inline-block;
  padding: 18px 36px;
  border-radius: 6px;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.534);
  background: linear-gradient(#ffa500, #c97f00);
  color: var(--primaria-0);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#e09200, #a76900);
}

@media (max-width: 1000px) {
  .botao {
    padding: 16px 32px;
    font-weight: 600;
  }
}
@media (max-width: 700px) {
  .botao {
    padding: 14px 28px;
    font-size: 0.871rem;
  }
}

/* Botão Secundário */
.secundario {
  background: var(--primaria-0);
  color: var(--primaria-1);
}

/* Ponto Final */
.ponto-final::after {
  content: "";
  display: inline-block;
  margin: 0px 4px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--primaria-2);
}

/* Links */
.link {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 4px;
  max-width: fit-content;
  color: var(--primaria-2);
  border-bottom: 4px solid var(--primaria-2);
}

.link:hover {
  color: var(--secundaria-1);
  border-bottom: 4px solid var(--secundaria-1);
}
