/* Botão */
.botao {
  display: inline-block;
  padding: 18px 36px;
  border-radius: 6px;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.534);
  background: linear-gradient(#ffa500, #c97f00);
  color: var(--primaria-0);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#e09200, #a76900);
}

@media (max-width: 1000px) {
  .botao {
    padding: 16px 32px;
    font-weight: 600;
  }
}
@media (max-width: 700px) {
  .botao {
    padding: 14px 28px;
    font-size: 0.871rem;
  }
}

/* Botão com Seta */

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  width: 18px;
  height: 10px;
  margin-left: 12px;
  display: inline-block;
  background-image: url(../../img/icones/seta.svg);
  background-repeat: no-repeat;
  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(6px) scale(1.3);
}

/* Botão Secundário */
.secundario {
  background: var(--primaria-0);
  color: var(--primaria-1);
}

/* Links */
.link {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 4px;
  max-width: fit-content;
  color: var(--primaria-2);
  border-bottom: 4px solid var(--primaria-2);
}

.link:hover {
  color: var(--secundaria-1);
  border-bottom: 4px solid var(--secundaria-1);
}

/* Ponto Final */
.ponto-final::after {
  content: "";
  display: inline-block;
  margin: 0px 4px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--primaria-2);
}

/* Cabeçalho das Pág. Internas */

.conteudo-bg {
  background-color: var(--primaria-0);
  color: var(--primaria-1);
}

.conteudo-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
  max-width: 1000px;
  padding: 60px 20px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .conteudo-container {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .conteudo-container p {
    font-size: 0.7rem;
  }

  .conteudo-container h1 {
    font-size: 1.6rem;
  }
}
