.header-bg {
  background-color: var(--secundaria-0);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  border-radius: 4px;
  margin-top: 4px;
  background: var(--primaria-2);
  position: absolute;
  transition: 0.2s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  .header-menu a::after {
    display: none;
  }

  .header-menu a {
    border: 1px solid var(--secundaria-0);
    border-radius: 4px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .header-container {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    font-size: 0.8rem;
  }
}
