.seguros-bg {
  background-color: var(--primaria-0);
  color: var(--primaria-1);
}

.seguros-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  max-width: 1000px;
  padding: 60px 0px;
  margin: 0 auto;
}

.seguros-items {
  grid-row: 2;
  padding: 20px;
  background-color: var(--secundaria-0);
}

.seguro-valor {
  display: flex;
  justify-content: space-between;
}

.seguros-items h3 {
  padding-bottom: 30px;
}

.seguros-items small {
  display: block;
  text-align: right;
}

.seguros-items li {
  padding-bottom: 20px;
}

.seguros-items li::before {
  content: "✔";
  font-size: 1rem;
  padding-right: 5px;
  color: var(--primaria-2);
}

@media (max-width: 1000px) {
  .seguros-container {
    gap: 30px;
    padding: 30px;
  }

  .seguros-items:nth-child(2) {
    grid-row: 3;
  }
  .seguros-items {
    grid-column: 1 / -1;
    padding: 20px 40px;
  }
}

@media (max-width: 600px) {
  .seguros-container {
    gap: 30px;
    padding: 30px;
  }

  .seguros-items h3 {
    padding-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .seguros-container h2 {
    font-size: 1.5rem;
  }

  .seguros-items ul {
    font-size: 1rem;
    width: max-content;
  }
}
