.col-2 {
  grid-column: span 2;
}

a {
  color: var(--primaria-1);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--primaria-2);
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: var(--secundaria-0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--secundaria-4);
  background-color: var(--secundaria-0);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--secundaria-0);
}

.orcamento-produto input:checked + label {
  background: var(--primaria-0);
  color: var(--primaria-1);
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid var(--primaria-1);
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--primaria-1);
  box-shadow: inset 0 0 0 3px var(--primaria-1),
    inset 0 0 0 6px var(--primaria-2);
}

.orcamento-produto label:hover {
  background-color: var(--primaria-2);
  border-color: var(--primaria-2);
}

.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 2px var(--primaria-1);
  border-color: var(--primaria-2);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-dados {
  border-radius: 0 5px 5px 0;
  background: var(--secundaria-5);
  color: var(--primaria-0);
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-detalhes {
  display: none;
  background: var(--primaria-0);
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  align-items: center;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.orcamento-detalhes li img {
  width: 16px;
  margin-right: 8px;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

.form-orcamento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-orcamento label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form-orcamento .col-2 {
  grid-column: span 2;
}

.form-orcamento input[type="text"],
.form-orcamento input[type="email"],
.form-orcamento textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--primaria-1);
  border: 1px solid var(--secundaria-3);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-orcamento input[type="text"]:focus,
.form-orcamento input[type="email"]:focus,
.form-orcamento textarea:focus {
  outline: none;
  border-color: var(--primaria-2);
  background: var(--primaria-1);
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 600px) {
  .form-orcamento {
    grid-template-columns: 1fr;
  }
  .form-orcamento .col-2 {
    grid-column: 1;
  }
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-produto {
    border-radius: 5px 5px 0 0;
  }
  .orcamento-dados {
    border-radius: 0 0 5px 5px;
  }
}

@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
}
